extend layout_admin

block content

    div#bookings
        div.row
            div.col.s1
            div.col.s10
                h2.tab-title liste des réservations
            div.col.s1
        div.row
            div.col.s1
            div.col.s10
                div#bookings-table
                    table.highlight.responsive-table
                        thead
                            tr
                                th Locataire
                                th Propriétaire
                                th Place N°
                                th Address
                                th Date
                                th Début
                                th Fin
                                th Prix
                                //th
                        tbody
                            each book in books
                                tr
                                    td= book.User.firstname + " " + book.User.lastname
                                    td= book.Spot.User.firstname + " " + book.Spot.User.lastname
                                    td= book.Spot.number
                                    td= book.Spot.address
                                    td= book.Disponibility.date
                                    td= book.startHour
                                    td= book.endHour
                                    td= book.price
                                    //Delete button if needed
                                    //td
                                    //    button#delete-book.waves-effect.waves-light.btn.blue.darken-3.right.margin-left(type="button")
                                    //        i.material-icons.center delete
            div.col.s1


append head

