doctype html
html
    head
        block head
            title= title
            link(rel='icon',type="image/x-icon", href="/images/favicon.ico" )
            link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
            link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
            link(rel='stylesheet', href='/css/lib/materialize.min.css')
            link(rel='stylesheet', href='/css/lib/fullcalendar.min.css')
            link(rel='stylesheet', href='//cdn.quilljs.com/1.3.6/quill.snow.css')
            link(rel='stylesheet', href='/css/beparked.min.css')
            script(src="/js/lib/jquery.min.js", type="text/javascript")
            script(src="/js/lib/moment.min.js", type="text/javascript")
            script(src="/js/lib/moment-range.min.js", type="text/javascript")
            script(src="/js/lib/fullcalendar.min.js", type="text/javascript")
            script(src="/js/lib/fr-ch.js", type="text/javascript")
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js', type="text/javascript")
            script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js')
            script(src="/js/lib/materialize.min.js", type="text/javascript")
            script(src="/js/core/validate.js", type="text/javascript")
            script(src="/js/admin/admin.js", type="text/javascript")
            script(src="/js/core/components.js", type="text/javascript")

                
    body
        header
            nav
                div.nav-wrapper.grey.lighten-5
                    a(href="#",data-target="admin-nav").sidenav-trigger
                        i.material-icons.blue-text.text-darken-3 menu
                    ul.right
                        li
                            a.black-text.dropdown-trigger(href="#!", data-target="user-dropdown")
                                img.circle.user(src="/images/user.svg")
                                | #{session.user.email}
                                i.material-icons.right arrow_drop_down

                    ul(id="user-dropdown").dropdown-content
                        li
                            a(href="/admin/profile#profile-personaldata").black-text Mon compte
                                i.material-icons.black-text person
                        li
                            a(href="/admin/logout").red-text Déconnexion
                                i.material-icons.red-text power_settings_new
            ul#admin-nav.sidenav.sidenav-fixed.ebony-clay
                li
                    a(href="/").nav-logo
                        include ../../public/images/logo.svg
                li
                    div.divider
                li
                    a(href="/").waves-effect ACCUEIL
                        i.material-icons home
                li
                    a(href="/admin/search").waves-effect RESERVER
                        i.material-icons access_time
                li
                    a(href="/admin/spot").waves-effect PROPOSER
                        i.material-icons add_location
                ul.collapsible.collapsible-accordion
                    li
                        a.waves-effect.collapsible-header MON COMPTE
                            i.material-icons person
                        div.collapsible-body.my-account-links
                            ul
                                li
                                    a(href="/admin/profile#profile-spots")#spots-link-tab MES PLACES
                                        i.material-icons keyboard_arrow_right
                                li
                                    a(href="/admin/profile#profile-books")#books-link-tab MES RESERVATIONS
                                        i.material-icons keyboard_arrow_right
                                li
                                    a(href="/admin/profile#profile-personaldata")#profile-link-tab MON PROFIL
                                        i.material-icons keyboard_arrow_right

                if(session.user.idRole == 1)
                    li
                        div.divider
                    li
                        a(href="/admin/users").waves-effect UTILISATEURS
                            i.material-icons group
                    li
                        a(href="/admin/bookings").waves-effect RESERVATIONS
                            i.material-icons show_chart
                    li
                        a(href="/admin/settings").waves-effect PARAMÈTRES
                            i.material-icons settings
                li
                    div.divider
                li
                    a(href="https://www.facebook.com/beparkedsuisse/", target="_blank").center-align
                        img(src="/images/icons/facebook.svg").waves-effect.icon-size
                li
                    a(href="/admin/conditions").waves-effect CONDITIONS GÉNÉRALES
                        i.material-icons description

        main
            block content

