extend layout_admin

block content

    div#profile.row
        ul#profile-tabs.tabs.z-depth-1.tabs-fixed-width
            li.tab.col.s4
                a(href="#profile-spots")
                    span
                        i.material-icons.material-icon-vertical-align directions_car
                    | LISTE DES PLACES
            li.tab.col.s4
                a(href="#profile-books")
                    span
                        i.material-icons.material-icon-vertical-align show_chart
                    | LISTE DES RESERVATIONS
            li.tab.col.s4
                a(href="#profile-personaldata")
                    span
                        i.material-icons.material-icon-vertical-align settings
                    | PROFIL
        div#profile-spots
            div.row
                div.col.s1
                div.col.s10
                    h2.tab-title liste des places
                div.col.s1
            div.row
                div.col.s1
                div.col.s10
                    table.highlight.responsive-table
                        thead
                            tr
                                th N° de place
                                th Rue
                                th Ville
                                th Prix /h
                                th
                        tbody

                            each s in user.Spots
                                tr
                                    td= s.number
                                    td= s.address
                                    td= s.Town.name
                                    td= s.price
                                    td
                                        button#delete-spot-btn0.btn.waves-effect.waves-light.btn.blue.darken-3.right.margin-left(type="button", onclick=`deleteSpot(${JSON.stringify(s.id)})`)
                                            i.material-icons.center delete
                                        a(href="/admin/profile/spot=" + s.id)#detail-spot-btn0.waves-effect.waves-light.btn.blue.darken-3.right
                                            i.material-icons.center search

                div.col.s1
        div#profile-books
            div.row
                div.col.s1
                div.col.s10
                    h2.tab-title liste des réservations
                div.col.s1
            div.row
                div.col.s1
                div.col.s10
                    table.highlight.responsive-table
                        thead
                            tr
                                th Locataire
                                th Propriétaire
                                th Place N°
                                th Address
                                th Date
                                th Début
                                th Fin
                                th Prix

                        tbody
                            each book in books
                                tr
                                    td= book.User.firstname + " " + book.User.lastname
                                    td= book.Spot.User.firstname + " " + book.Spot.User.lastname
                                    td= book.Spot.number
                                    td= book.Spot.address
                                    td= book.Disponibility.date
                                    td= book.startHour
                                    td= book.endHour
                                    td= book.price
        div#profile-personaldata
            div.row
                div.col.s2
                div.col.s8
                    h2.tab-title profil
                div.col.s2
            div.row
                div.col.s2
                form(autocomplete="off")#form-profile-personaldata.col.s8
                    div.row
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text person
                            input#firstname-profile-disable(disabled, value=user.firstname, type="text", placeholder="Prénom", name="firstname").validate
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text edit
                            input#lastname-profile-disable(disabled, value=user.lastname, type="text",placeholder="Nom", required="required", name="lastname").validate
                    div.row
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text location_on
                            input#address-profile-disable(disabled, value=user.address, type="text",placeholder="Adresse",required="required", name="address").validate
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text location_city
                            input#town-profile-disable(disabled, value=user.Town.name, type="text",placeholder="Localité",required="required", name="town").validate.autocomplete
                    div.row
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text mail
                            input#email-profile-disable(disabled,value=user.email, type="email",placeholder="Email",required="required", name="email").validate
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text phone
                            input#phone-profile-disable(disabled,value=user.phone,type="text",placeholder="Téléphone",required="required", name="phone").validate
                    div.row
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text directions_car
                            input#car-profile-disable(disabled,value=user.licensePlate, type="text",placeholder="N° d'immatriculation ex. VS 111111", name="plate").validate.swiss-plate
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text directions_car
                            input#model-profile-disable(disabled,value=user.brand, type="text",placeholder="Voiture", name="model").validate
                    div#password-row.row
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text lock
                            input#psw1-profile(type="password",placeholder="Mot de passe", name="password").validate
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text lock
                            input#psw2-profile(type="password",placeholder="Confirmer le mot de passe",, name="password2").validate
                    div.row
                        div.col.s12
                            button#edit-profile-info.btn.waves-effect.waves-light.btn.blue.darken-3.right(type="button", onclick="editModeProfile()") Editer
                                i.material-icons.right edit
                        div.col.s12
                            button#save-profile-info.waves-effect.waves-light.btn.blue.darken-3.right(type="button", onclick=`updateProfile(${JSON.stringify(user.id)})`) Sauvegarder
                                i.material-icons.right save
                div.col.s2



    script(src='/js/admin/profile.js') 
    script(src="/js/core/autocomplete.js", type="text/javascript")
    
    

