extend layout_admin

block content

    div#search
        div.section
            div.row
                div#sidenav-map.col.s3.grey.lighten-5
                    div#spots-form-search-title-block.valign-wrapper.blue.darken-3
                        div#spots-form-search-title.center-align
                            i.material-icons.white-text location_on
                            a.white-text CRITÈRES DE RECHERCHE

                    form(action="#")#spots-form-search.col.s12
                        div.row
                            div.input-field
                                i.material-icons.prefix.ebony-clay-text date_range
                                input(type="text",placeholder="Date",name="date",required="required")#spots-date-search.datepicker.validate.datepicker-valid-error
                                input(id="search-user-id", type="hidden", readonly, value=`${JSON.stringify(session.user.id)}`)
                            div.input-field
                                i.material-icons.prefix.ebony-clay-text access_time
                                input(type="text",placeholder="Heure d'arrivée",required="required", name="timestart")#spots-start-hour-search.timepicker.validate.time-start.timepicker-valid-error
                            div.input-field
                                i.material-icons.prefix.ebony-clay-text access_time
                                input(type="text",placeholder="Heure de départ",required="required", name="timeend")#spots-end-hour-search.timepicker.validate.time-end.timepicker-valid-error
                            div.input-field
                                i.material-icons.prefix.ebony-clay-text location_city
                                input(type="text", placeholder="Adresse",required="required", name="city")#spots-address-search.validate
                            button(type="button").blue.darken-3.waves-effect.waves-light.btn.right#spots-submit-search-button RECHERCHER
                                i.material-icons.right search

                div#section-map.col.s9
                    div#map

                div#modal-result-spot.modal
                    div.card.horizontal
                        div.card-image
                            img
                        div.card-stacked
                            div.card-content
                                div#modal-result-spot-title
                                    a(href="#")#horizontal-back-activator-result.black-text.bold
                                        i.material-icons.material-icon-vertical-align.right close
                                    p
                                p#modal-result-spot-description
                                div#modal-result-spot-town
                                div#modal-result-spot-price
                                div#modal-result-spot-gps
                            div.card-reveal.card-reveal-disponibilities
                                div#modal-result-spot-reveal-title
                                    a(href="#")#horizontal-back-activator-disponibilities.black-text.bold DISPONIBILITÉS
                                        i.material-icons.material-icon-vertical-align.left close
                                div#calendar.modal-result-spot-disponibilities
                            div.card-reveal.card-reveal-booking
                                div#modal-result-spot-booking-reveal-title
                                    a(href="#")#horizontal-back-activator-booking.black-text.bold RESERVATION
                                        i.material-icons.material-icon-vertical-align.left close
                                div#modal-result-spot-booking-reveal-summary
                                    div.row
                                        div.input-field.col.s12
                                            i.material-icons.prefix.blue-text.text-darken-3 date_range
                                            input(type="text",placeholder="Date", readonly, required="required",name="date")#spots-date-booking
                                        div.input-field.col.s6
                                            i.material-icons.prefix.blue-text.text-darken-3 access_time
                                            input(type="text",placeholder="Heure d'arrivée", readonly,required="required", name="time")#spots-start-hour-booking.time-start
                                        div.input-field.col.s6
                                            i.material-icons.prefix.blue-text.text-darken-3 access_time
                                            input(type="text",placeholder="Heure de départ", readonly,required="required", name="time")#spots-end-hour-booking.time-end
                                        div.input-field.col.s12
                                            i.material-icons.prefix.blue-text.text-darken-3 location_city
                                            input(type="text", placeholder="Adresse", readonly,required="required", name="city")#spots-address-booking
                                        div.input-field.col.s12
                                            i.material-icons.prefix.blue-text.text-darken-3 attach_money
                                            input(type="text", placeholder="Total", readonly,required="required", name="total")#spots-total-booking
                                            input(id="sessionUser", type="hidden", readonly, value=`${JSON.stringify(session.user)}`)
                                        button(type="button" onclick='bookSpot()').blue.darken-3.waves-effect.waves-light.btn.right#spots-button-booking RESERVER
                                            i.material-icons.right send

                            div.card-action
                                a(href="#")#horizontal-activator-booking.blue-text.text-darken-3.bold réserver
                                a(href="#")#horizontal-activator-disponibilities.blue-text.text-darken-3.bold disponibilités
    div#search-loading-overlay
        div#search-loading
            div#search-loading-title géolocalisation
            div#search-loading-spin

append head
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWy7f8rtU4xY1O3m5u-6IRWULcvy98UYs&libraries=places")
    script(src='/js/admin/search.js')





