extend layout_admin

block content

    div#settings
        div.row
            div.col.s1
            div.col.s10
                div.row
                    h2.title paramètres
            div.col.s1
        div.row
            div.col.s1
            div.col.s10
                div.row
                    h3.title section about
                div.row#settings-about-container
                    div#settings-about-editor
                    button(type="button", onclick="saveAbout()").waves-light.waves-effect.btn.blue.darken-3.right SAUVEGARDER
            div.col.s1
        div.row
            div.col.s1
            div.col.s10
                div.row
                    h3.title section conditions générales
                div.row#settings-conditions-container
                    div#settings-conditions-editor
                    button(type="button", onclick="saveConditions()").waves-light.waves-effect.btn.blue.darken-3.right SAUVEGARDER
            div.col.s1

    script(src='//cdn.quilljs.com/1.3.6/quill.min.js')
    script(src='/js/admin/settings.js')

