extend layout_admin

block content


        div#spot-details
            div#no-bottom-margin.row
                ul#details-tabs.tabs.z-depth-1.tabs-fixed-width
                    li.tab.col.s4
                        a(href="#details-general").active
                            span
                                i.material-icons.material-icon-vertical-align details
                            | DETAILS
                    li.tab.col.s4
                        a(href="#details-disponibility")
                            span
                                i.material-icons.material-icon-vertical-align access_time
                            | LISTE DES DISPONIBILITÉS
                    li.tab.col.s4
                        a(href="#details-booking")
                            span
                                i.material-icons.material-icon-vertical-align show_chart
                            | LISTE DES RÉSÉRVATIONS
                div#details-general.col
                    div.row
                        div.col.s12
                            h2.tab-title détails
                    div.row
                        div.col.s4
                            div#details-spot-image
                                img(src=`/spots/${spot.picture}`)
                        div.col.s8
                            form(autocomplete="off")#details-general-form
                                div.input-field.col.s6.form-group
                                    i.material-icons.prefix.ebony-clay-text location_on
                                    input#address-details-disable.validate.form-control(type="text", placeholder="Adresse", value=spot.address, name="address", required="required",readonly)
                                div.input-field.col.s6
                                    i.material-icons.prefix.ebony-clay-text location_city
                                    input#town-details-disable.validate.autocomplete(type="text", placeholder="Localité", value=spot.Town.name name="town", required="required",readonly)
                                div.input-field.col.s6.form-group
                                    i.material-icons.prefix.ebony-clay-text my_location
                                    input#longitude-details-disable.form-control(type="text", readonly, placeholder="Longitude", value=spot.longitude name="lng")
                                div.input-field.col.s6.form-group
                                    i.material-icons.prefix.ebony-clay-text my_location
                                    input#latitude-details-disable.form-control(type="text", readonly, placeholder="Latitude", value=spot.latitude  name="lat")
                                div.input-field.col.s6
                                    i.material-icons.prefix.ebony-clay-text flag
                                    input#number-details-disable.validate.positive(type="text", placeholder="N° de la place", value=spot.number, name="number")
                                div.input-field.col.s6
                                    i.material-icons.prefix.ebony-clay-text attach_money
                                    input#price-details-disable.validate.price(type="text", placeholder="Prix par heure", value=spot.price, name="price", required="required")
                                div.input-field.col.s12
                                    i.material-icons.prefix.ebony-clay-text edit
                                    textarea#description-details-disable(data-length="120", placeholder="Description").materialize-textarea #{spot.description}
                                div.col.s12
                                    button#edit-details-info.btn.waves-effect.waves-light.btn.btn.blue.darken-3.right(type="button", onclick="editModeSpotDetails()") Editer
                                        i.material-icons.right edit
                                div.col.s12
                                    button#save-details-info.waves-effect.waves-light.btn.blue.darken-3.right.hide(type="button" onclick=`saveModeSpotDetails(${spot.id})`) Sauver
                                        i.material-icons.right save
                div#details-disponibility
                    div#sidebar-disponibility.col.s4
                        div#sidebar-title.valign-wrapper.blue.darken-3
                            div#sidebar-disponibility-form-title.center-align
                                i.material-icons.white-text access_time
                                a.white-text AJOUT D'UNE DISPONIBILITÉ
                        form(autocomplete="off")#details-dispo-form.col.s12
                            div.row
                                div.input-field.col.s12
                                    i.material-icons.prefix.ebony-clay-text date_range
                                    input(type="text",placeholder="Date", required="required",name="date")#details-spot-date.datepicker.validate.datepicker-valid-error
                                div.input-field.col.s12
                                    i.material-icons.prefix.ebony-clay-text access_time
                                    input(type="text",placeholder="Heure de début",required="required", name="timestart")#details-spot-starthour.timepicker.validate.time-start.timepicker-valid-error
                                div.input-field.col.s12
                                    i.material-icons.prefix.ebony-clay-text access_time
                                    input(type="text",placeholder="Heure de fin",required="required", name="timeend")#details-spot-endhour.timepicker.validate.time-end.timepicker-valid-error
                                div.input-field.col.s12
                                    i.material-icons.prefix.ebony-clay-text refresh
                                    input(type="number",placeholder="Fréquence",required="required", name="frequency", min="1", value="1",data-position="right", data-tooltip="Répeter la disponibilité sur plusieurs semaines")#details-frequency.validate.positive.tooltipped
                                div.col.s12
                                    button#add-disponibility.waves-effect.waves-light.btn.blue.darken-3.right(type="button" onclick=`addDisponibility(${spot.id})`) Ajouter
                                        i.material-icons.right add
                    div#details-dispo-list.col.s8
                        div.row
                            div.col.s12
                                h2.tab-title liste des disponibilités
                        div.row
                            div.col.s12
                                div#calendar.disponibility-list-calendar

                div#details-booking
                    div.row
                        div.col.s1
                        div.col.s10
                            h2.tab-title liste des réservations
                        div.col.s1
                    div.row
                        div.col.s1
                        div.col.s10
                            table.highlight.responsive-table
                                thead
                                    tr
                                        th Date
                                        th Heure de début
                                        th Heure de fin
                                        th Nom
                                        th Prénom
                                        th Immatriculation
                                        th Prix
                                tbody
                                    each booking in spot.Bookings
                                        tr
                                            td= booking.Disponibility.date
                                            td= booking.startHour
                                            td= booking.endHour
                                            td= booking.User.firstname
                                            td= booking.User.lastname
                                            td= booking.User.licensePlate
                                            td= booking.price
                        div.col.s1
                    div.row
                        div.col.s1
                        div.col.s10
                            p
                                h5 Total des réservations : #{spot.amount} .- CHF
                        div.col.s1

append head
    script(src="/js/core/autocomplete.js", type="text/javascript")
    script(src='/js/admin/spot-details.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPXCbaY-XIFw2Ud2KCxCgR3kjCJF9tNQA&libraries=places")
    script(src="/js/lib/jquery.geocomplete.min.js", type="text/javascript")
    script.
        var spot = "#{JSON.stringify(spot)}";
