extend layout_admin

block content

    div.container
        div#spot
            div.row
                h2 proposer une place
            div.row
                form#form-spot-add.col.s12(action="/admin/spot" method="post" enctype="multipart/form-data",autocomplete="off")
                    div#spot_info.row
                        div.col.s6.input-field
                            i.material-icons.prefix.ebony-clay-text location_on
                            input(type="text", placeholder="Adresse",required="required", name="address")#spots-address-spot.validate
                        div#map-spot.col.s12
                        div.form-group.col.s6.input-field
                            i.material-icons.prefix.ebony-clay-text my_location
                            input(type="text", name="lat",placeholder="Latitude", readonly)#latitude-field.form-control
                        div.form-group.col.s6.input-field
                            i.material-icons.prefix.ebony-clay-text my_location
                            input(type="text", name="lng", placeholder="Longitude", readonly)#longitude-field.form-control
                        div.input-field.col.s12
                            i.material-icons.prefix.ebony-clay-text location_city
                            input#town-spot.validate.autocomplete(type="text", placeholder="Localité", name="town", required="required")
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text flag
                            input#number-spot.validate.positive(type="text", placeholder="N° de la place", name="number")
                        div.input-field.col.s6
                            i.material-icons.prefix.ebony-clay-text attach_money
                            input#price-spot.validate.price(type="text", placeholder="Prix par heure", name="price", required="required")
                        div.input-field.col.s12
                            i.material-icons.prefix.ebony-clay-text edit
                            textarea#description-spot(data-length="120", placeholder="Description", name="description").materialize-textarea
                        div.file-field.input-field.col.s12
                            div.ebony-clay-text
                                i.material-icons.material-icon-vertical-align file_upload
                                input(type="file" name="picture")
                            div.file-path-wrapper
                                input#image-spot.file-path.validate(type="text", required="required", name="image")
                    div.row
                        div.col.s12
                            button.waves-effect.waves-light.btn.blue.darken-3.right(type="submit") Sauvegarder
    div#spot-loading-overlay
        div#spot-loading
            div#spot-loading-title géolocalisation
            div#spot-loading-spin


    script(src="/js/core/autocomplete.js", type="text/javascript")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWy7f8rtU4xY1O3m5u-6IRWULcvy98UYs&libraries=places")
    script(src="/js/lib/jquery.geocomplete.min.js", type="text/javascript")
    script(src="/js/admin/spot.js", type="text/javascript")






