extend layout_admin

block content

    div#users
        div.row
            div.col.s1
            div.col.s10
                h2.tab-title liste des utilisateurs
                a.btn-floating.btn-large.waves-effect.waves-light.blue.darken-3.right.modal-trigger(href="#add_user")
                    i.material-icons add
            div.col.s1
        div.row
            div.col.s1
            div.col.s10
                div#users-table
                    table.highlight.responsive-table
                        thead
                            tr
                                th Nom
                                th Prénom
                                th Role
                                th Immatriculation
                                th
                        tbody
                            each user in users
                                tr
                                    td= user.firstname
                                    td= user.lastname
                                    td= user.Role.name
                                    td= user.licensePlate
                                    td
                                        button#delete-user.waves-effect.waves-light.btn.blue.darken-3.right.margin-left(type="button" onclick=`deleteUser(${JSON.stringify(user.id)})`)
                                            i.material-icons.center delete
                                        a(href="/admin/profile/id=" + user.id)#detail-user.waves-effect.waves-light.btn.blue.darken-3.right
                                            i.material-icons.center search
            div.col.s1

        div#add_user.modal.modal-fixed-footer
            div.modal-content
                div.add-user-modal-title.blue.darken-3.valign-wrapper
                    h4 ajouter un utilisateur
                div.row
                    div.col.s12.add-user-modal-form
                    form(autocomplete="off")#form-add-user
                        div.row
                            div.input-field.col.s6
                                i.material-icons.prefix person
                                input#firstname-add(type="text", placeholder="Prénom", name="firstname",required="required", aria-required="true").validate
                            div.input-field.col.s6
                                i.material-icons.prefix edit
                                input#lastname-add(type="text",placeholder="Nom", required="required", name="lastname").validate
                        div.row
                            div.input-field.col.s6
                                i.material-icons.prefix location_on
                                input#address-add(type="text",placeholder="Adresse",required="required", name="address").validate
                            div.input-field.col.s6
                                i.material-icons.prefix location_city
                                input#town-add(type="text",placeholder="Localité",required="required", name="town").validate.autocomplete
                        div.row
                            div.input-field.col.s6
                                i.material-icons.prefix mail
                                input#email-add(type="email",placeholder="Email",required="required", name="email").validate
                            div.input-field.col.s6
                                i.material-icons.prefix phone
                                input#phone-add(type="text",placeholder="Téléphone",required="required", name="phone").validate
                        div#profile-password-hide.row
                            div.input-field.col.s6
                                i.material-icons.prefix lock
                                input#psw1-add(type="password",placeholder="Mot de passe", name="password", required="required").validate
                            div.input-field.col.s6
                                i.material-icons.prefix lock
                                input#psw2-add(type="password",placeholder="Confirmer le mot de passe", name="password2", required="required").validate
            div.modal-footer
                a.modal-action.modal-close.waves-effect.btn-flat.waves-red Annuler
                button.btn.modal-action.waves-effect.btn-flat.blue.darken-3.white-text(type="submit", for="#form-add-user", onclick="createAdmin()") Enregistrer

    script(src="/js/core/autocomplete.js", type="text/javascript")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPXCbaY-XIFw2Ud2KCxCgR3kjCJF9tNQA&libraries=places")
    script(src="/js/lib/jquery.geocomplete.min.js", type="text/javascript")
    script(src='/js/admin/users.js')

