/* LOGIN LAYOUT */
html{
  height: 100%;
  body#login
  {
    height: 100%;
    background: #2a2d3e;  /* fallback for old browsers */

  }
}

/* LOGIN CARD */
#login-card.card
{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  min-height: 700px;
  width: 400px;
  margin: auto;
  &.card{
    border-radius: 5px;
  }
  #login-logo-wrapper
  {
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .login-logo
    {
      display: table-cell;
      width: 100%;
      position: relative;
      text-align: center;
      font-weight: bold;
      font-size: 2em;
    }
  }

  #login-signup
  {
    height: 65px;

    li.tab
    {
      background-color: #1565C0;
      line-height: 65px;
      height: 65px;
      a
      {
        color: white;
        font-weight: bold;
        &:focus
        {
          background-color: transparent;
          &.active
          {
            background-color: transparent;
          }
        }
      }
    }

    li.indicator
    {
      height: 10px;
      background-color: white;
    }

  }

  &.col
  {
    padding-left: 0;
    padding-right: 0;
  }
}

#login-tab
{
  padding: calc(700px - 615px) 2rem;
  .center-align
  {
    font-size: 2em;
    font-weight: bold;
  }
  #form-login
  {
    button
    {
      width: 100%;
      font-weight: bold;
    }
  }

}
#register-tab {

  padding: 0 2rem;

  .step
  {
    &:before
    {
      background-color: #1565C0;
    }
    &:after
    {
      display: none;
    }
    &.active
    {
      margin-bottom: 0;
    }

    .step-title
    {
      font-weight: bold;
    }

    .step-content
    {
      margin-left: 0;
      margin-right: 0;

      .input-field
      {
        margin-top: 0;
        margin-bottom: 0;
      }

      .step-actions
      {
        justify-content: end;
        padding: 1rem 0 0 0;

        i
        {
          vertical-align: middle;
        }
      }

      p
      {
        span
        {
          display: inherit;
        }
      }
    }
  }
}

#transparent
{
  background-color: transparent;
  box-shadow: none;
}

.error-message
{
  color: #F44336 !important;
  text-align: center;
  display: block;
}
