doctype html
html
    head
        title= title
        link(rel='icon',type="image/x-icon", href="/images/favicon.ico" )
        link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/css/lib/materialize.min.css')
        link(rel='stylesheet', href='/css/lib/materialize-stepper.min.css')
        link(rel='stylesheet', href='/css/beparked.min.css')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js", type="text/javascript")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js", type="text/javascript")
        script(src="/js/lib/materialize.min.js", type="text/javascript")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js', type="text/javascript")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js', type="text/javascript")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js')
        script(src="/js/core/validate.js", type="text/javascript")
        script(src="/js/lib/materialize-stepper.min.js", type="text/javascript")
        script(src="/js/login/login.js", type="text/javascript")
        script(src="/js/core/components.js", type="text/javascript")
        script(src="/js/core/autocomplete.js", type="text/javascript")

    body#login

        div.navbar-fixed
            nav#transparent
                div.nav-wrapper
                    div.container
                        a.large.material-icons(href="/") home
                        ul#nav-mobile.right.hide-on-med-and-down

        block content


