extend layout_login
block content

    if error != null
        script.
            M.toast({html: '<span>#{error}</span>'});
    div.container
        div.row
            div.card#login-card
                div#login-logo-wrapper.blue.darken-3.white-text.valign-wrapper
                    div.login-logo beparked
                ul#login-signup.tabs.white
                    li.tab.col.s6
                        a(href="#login-tab")
                            i.material-icons.material-icon-vertical-align lock
                    li.tab.col.s6
                        a(href="#register-tab")
                            i.material-icon-vertical-align.material-icons person_add
                div#login-tab
                    div.center-align BIENVENUE
                    form#form-login.col.s12(method='post',action='/login')
                        div.row
                            div.input-field.col.s12
                                i.material-icons.prefix.blue-text.text-darken-3 person
                                input(id="email-login", type="email", placeholder="Identifiant",name="email", required="required").validate
                            div.input-field.col.s12
                                i.material-icons.prefix.blue-text.text-darken-3 vpn_key
                                input(id="password-login", type="password", placeholder="Mot de passe", name="password", required="required").validate
                            div.col.s1
                        div.row
                            div.col.s12
                                button.waves-effect.waves-light.btn.blue.darken-3(type="submit") Se connecter
                div#register-tab
                    form(autocomplete="off", method="post", action="/login/register")#form-register.col.s12
                        ul.stepper.linear
                            li.step.active.left-align
                                div.step-title.waves-effect COORDONNÉES
                                div.step-content
                                    div.input-field
                                        i.material-icons.prefix.blue-text.text-darken-3 person
                                        input(id="firstname-register",type="text", placeholder="Prénom",required="required", name="firstname").validate
                                    div.input-field
                                        i.material-icons.prefix.blue-text.text-darken-3 edit
                                        input(id="lastname-register",type="text",placeholder="Nom",required="required", name="lastname").validate
                                    div.input-field
                                        i.material-icons.prefix.blue-text.text-darken-3 location_on
                                        input(id="address-register", type="text",placeholder="Adresse",required="required", name="address").validate
                                    div.input-field
                                        i.material-icons.prefix.blue-text.text-darken-3 location_city
                                        input(id="npa-register", type="text",placeholder="Localité",required="required", name="town").validate.autocomplete
                                    div.step-actions
                                        button.waves-effect.waves-light.btn.blue.darken-3.next-step continuer
                                            i.material-icons navigate_next
                            li.step.left-align
                                div.step-title.waves-effect CONTACT
                                div.step-content
                                    div.input-field
                                        i.material-icons.prefix.blue-text.text-darken-3 mail
                                        input(id="email-register", type="email",placeholder="Email",required="required", name="email").validate
                                    div.input-field
                                        i.material-icons.prefix.blue-text.text-darken-3 phone
                                        input(id="phone-register", type="text",placeholder="Téléphone",required="required", name="phone").validate
                                    div.input-field
                                        i.material-icons.prefix.blue-text.text-darken-3 directions_car
                                        input(id="car-register",type="text",placeholder="N° d'immatriculation ex. VS 111111", name="plate").validate.swiss-plate
                                    div.input-field
                                        i.material-icons.prefix.blue-text.text-darken-3 directions_car
                                        input(id="model-register", type="text", placeholder="Voiture", name="model", autocomplete="off").validate
                                    div.step-actions
                                        button.waves-effect.waves-light.btn.blue.darken-3.previous-step retour
                                            i.material-icons.left navigate_before
                                        button.waves-effect.waves-light.btn.blue.darken-3.next-step continuer
                                            i.material-icons.center navigate_next
                            li.step.left-align
                                div.step-title.waves-effect IDENTIFIANT
                                div.step-content
                                    div.input-field
                                        i.material-icons.prefix.blue-text.text-darken-3 lock
                                        input(id="psw1-register", type="password",placeholder="Mot de passe",required="required", name="password", autocomplete="off").validate
                                    div.input-field
                                        i.material-icons.prefix.blue-text.text-darken-3 lock
                                        input(id="psw2-register",type="password",placeholder="Confirmer le mot de passe",required="required" , name="password2", autocomplete="off").validate
                                    p.center-align
                                        label
                                            input(type="checkbox", unchecked="unchecked", name="conditions",required="required").filled-in
                                            span J'accepte les conditions générales
                                    div.step-actions
                                        button.waves-effect.waves-light.btn.blue.darken-3.previous-step retour
                                            i.material-icons.left navigate_before
                                        button.waves-effect.waves-light.btn.blue.darken-3(type="submit") s'inscrire
        div.row
            div.col.s12
                div.error-message
                    ul
