extend layout_home
block content

    div#homepage
        div#home.parallax-container.full-section-img-home
            div.container
                div.try
                    div.logo-homepage
                        include ../../public/images/logo.svg
                    div.slogan-homepage
                        include ../../public/images/slogan.svg
                    div.try-button-homepage
                        a(href="/login").waves-effect.btn.waves-light.blue.darken-3.btn-large essayer
                    div.scroll-button-homepage
                        a(href="#about").scroll-to
                            i.material-icons.large keyboard_arrow_down

            div.parallax.zoom
                img(src="images/home.jpg").responsive-img.img-opacity

        div#about.section.section-color.full-section-index
            div.row.container
                div.cols12.center-align
                    h2.header à propos
            div.row.container.valign-wrapper
                div.col.s6
                    img(src="images/browser.png").responsive-img
                div.col.s6
                    p !{about}
        div#home2.parallax-container.full-section-img
            div.parallax.zoom
                img(src="images/home2.jpg").responsive-img.img-opacity
        div#video.section.section-color.full-section-index
            div.row.container
                div.col.s12.center-align
                    h2.header notre service
            div.row.container.valign-wrapper
                div.col.s12.video-size
                    div.video-container
                        iframe(width="853", height="480", src="https://www.youtube.com/embed/1uQBlC2l8UQ", frameborder="0", allowfullscreen)
        div#home3.parallax-container.full-section-img
            div.parallax.zoom
                img(src="images/home3.jpg").responsive-img.img-opacity
        div#contact.section.section-color.full-section-index
            div.row.container
                div.cols12.center-align
                    h2.header nous contacter
            div.row.container.valign-wrapper
                div.col.s6
                    div.row
                        div#map-home
                    div.row
                        ul
                            li
                                span
                                    i.material-icons.material-icon-vertical-align location_on
                                | Rue Technopole 3
                            li
                                span
                                    i.material-icons.material-icon-vertical-align location_city
                                | 3960 Sierre
                            li
                                span
                                    i.material-icons.material-icon-vertical-align phone_android
                                | 077 422 34 18
                            li
                                span
                                    i.material-icons.material-icon-vertical-align email
                                | info@beparked.ch
                div.col.s6
                    div#contact-section-form
                        form(autocomplete="off")#form-contact
                            div.input-field.col.s12
                                i.material-icons.prefix person
                                input#contact-name(type="text", name="name", required="required")
                                label(for="contact-name") Nom & Prénom
                            div.input-field.col.s12
                                i.material-icons.prefix email
                                input#contact-email(type="email", name="email", required="required")
                                label(for="contact-email") Email
                            div.input-field.col.s12
                                i.material-icons.prefix edit
                                input#contact-object(type="text", name="object")
                                label(for="contact-object") Sujet
                            div.input-field.col.s12
                                i.material-icons.prefix chat
                                textarea#contact-description(data-length="300", name="description").materialize-textarea
                                label(for="contact-description") Envoyez-nous un messsage
                            div.col.s12
                                button(type="button", onclick="contact()").waves-effect.waves-light.btn.white.right
                                    i#send-icon.material-icons send


