doctype html
html
    head
        title= title
        link(rel='icon',type="image/x-icon", href="/images/favicon.ico" )
        link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/css/lib/materialize.min.css')
        link(rel='stylesheet', href='/css/lib/materialize-stepper.min.css')
        link(rel='stylesheet', href='/css/beparked.min.css')
        script(src="/js/lib/jquery.min.js", type="text/javascript")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js', type="text/javascript")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js')
        script(src="/js/lib/materialize.min.js", type="text/javascript")
        script(src="/js/core/validate.js", type="text/javascript")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWy7f8rtU4xY1O3m5u-6IRWULcvy98UYs&libraries=places")
        script(src="/js/core/scrollTo.js", type="text/javascript")
        script(src="/js/home/index.js", type="text/javascript")
        script(src="/js/core/components.js", type="text/javascript")
    body#home
        nav.nav-transparent
            div.nav-wrapper
                div.container
                    a(href="#!").brand-logo
                        i.material-icons home
                    a(href="#", data-target="nav-mobile").sidenav-trigger
                        i.material-icons menu
                    ul#nav-home.right.hide-on-med-and-down
                        li
                            a(href="#about").scroll-to A PROPOS
                        li
                            a(href="#video").scroll-to SERVICE
                        li
                            a(href="#contact").scroll-to CONTACT
                        li
                            a(href="/login")
                                i.material-icons lock_outline
        ul.sidenav#nav-mobile
            li
                a(href="#about").scroll-to A PROPOS
            li
                a(href="#video").scroll-to SERVICE
            li
                a(href="#contact").scroll-to CONTACT
            li
                a(href="/login")
                    i.material-icons lock_outline


        block content
        footer.page-footer.blue.darken-3
            div.container
                div.row
                    div.col.s4
                        div.grey-text.text-lighten-4.center-align © Copyright étudiants à la Hes-So Valais Wallis
                    div.col.s4.center-align
                        a.modal-trigger.grey-text.text-lighten-4(href="#modal-conditions") Conditions Générales
                    div.col.s4.center-align
                        a(href="https://www.facebook.com/beparkedsuisse/", target="_blank").right
                            img(src="/images/icons/facebook.svg").waves-effect.icon-size

        div#modal-conditions.modal.modal-fixed-footer.conditions-font
            div.modal-content
                p !{cgv}

            div.modal-footer
                a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat Fermer
