/*FONTS*/
*{
  font-family: 'Open Sans', sans-serif;
}

.no-padding {
  padding: 0 !important;
}

/*CUSTOM COLORS*/
.ebony-clay
{
  background-color: #2a2d3e;
}

.ebony-clay-text
{
  color: #2a2d3e;
}

/*PADDING-lEFT FOR NAVBAR CORRECT LAYOUT*/
main, header, footer
{
  padding-left: 250px;
}

@media only screen and (max-width : 992px)
{
  header, main, footer
  {
    padding-left: 0;
  }
}


/*NAVBAR*/
nav
{
  position: relative;
  z-index: 900;


  /*NAVBAR : USER DROPDOWN*/
  .nav-wrapper
  {
    .user
    {
      width: 3.5em;
      vertical-align: middle;
      margin-right: 1em;
    }
  }
}

/*SIDEBAR*/
#admin-nav.sidenav
{
  padding-top: 64px;
  width:250px;

  li
  {

    .divider{
      margin: 1em 2em;
    }

    a
    {
      color: white;
      font-weight: bold;
      i
      {
        color:white;
      }

      &.nav-logo
      {
        width: 60%;
        margin: 0 auto 8em auto;
      }

      &.conditions
      {
        position: fixed;
        bottom: 64px;
      }
      &.collapsible-header{
        padding: 0 32px;
      }
    }

    .collapsible-body{
      background-color: transparent;
      ul{
        li{
          a{

          }
        }
      }
    }
  }

}