#profile{
  h2.tab-title
  {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2.5em;

  }
  #profile-tabs {
    height: 80px;
    li.tab {
      //background-color: #1565C0;
      background-color: #333;
      line-height: 80px;
      height: 80px;
      a {
        color: white;
        font-weight: bold;

        span
        {
          i
          {
            padding-right:0.5em;
          }
        }
        &:focus
        {
          //background-color: #0d47a1;
          background-color: #222;
          &.active
          {
            //background-color: #0d47a1;
            background-color: #222;
          }
        }
        &.active
        {
          //background-color: #0d47a1;
          background-color: #222;
        }
      }
    }

    li.indicator
    {
      height: 6px;
      //background-color: #1565C0;
       background-color: white;
    }
  }
  #profile-personaldata{

    #form-profile-personaldata{
      i {
        &.active {
          color: #2a2d3e;
        }
      }

      span{
        &.error{
          color: #F44336;
          padding-left: 45px;
          display: inherit;
        }

      }
    }
  }

  #profile-spots{
    button.margin-left{
      margin-left: 10px;
    }
  }
  #profile-books{
  }
}