#search > .section
{
  padding-top: 0px;
  padding-bottom: 0px;

  > .row {
    margin-bottom: 0px;
  }
}

#search-loading-overlay
{
  position: fixed;
  z-index: 2000;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: rgba(33,33,33,0.5);
  will-change: opacity;

  #search-loading
  {
    z-index: 2100;
    position: absolute;
    top:50%;
    left:50%;
    #search-loading-title
    {
      color:white;
      font-size:1.5em;
      font-weight: bold;
      font-variant: small-caps;
    }
    #search-loading-spin
    {
      border: 5px solid rgb(243, 243, 243); /* Light grey */
      border-top: 5px solid #1565C0 ; /* Blue */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
      margin: 1rem auto;
    }
  }
}


@keyframes spin
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#search{
  #sidenav-map{
    #spots-form-search{
      span{
        &.error{
          color: #F44336;
          padding-left: 45px;
          display: inherit;
        }
      }
    }
  }

}
#sidenav-map
{
  height: calc(100vh - 64px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 800;
  position: relative;

  > #spots-form-search-title-block
  {
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

#spots-form-search-title-block > #spots-form-search-title
{
  display: table-cell;
  position: relative;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

#spots-form-search-title > i
{
  vertical-align: middle;
  padding-right: 0.1em;

}

#sidenav-map > #spots-form-search
{
  padding-top: 65px;
}
#spots-form-search {
  i {
    &.active {
      color: #2a2d3e;
    }
  }
}
#section-map
{
  padding-left: 0px;
  padding-right: 0px;
}

#map
{
  width: 100%;
  height: calc(100vh - 64px);
}

#modal-result-spot.modal
{
  > .card
  {
    margin: 0;
  }
  .card-content > #modal-result-spot-title, .card-reveal > #modal-result-spot-reveal-title
  {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: justify;
    padding-bottom: 1em;
  }
  .card-content > #modal-result-spot-title, .card-reveal > #modal-result-spot-booking-reveal-title
  {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: justify;
    padding-bottom: 1em;
  }
  .card-content > #modal-result-spot-town
  {
    font-weight: bold;
  }
  .card
  {
    .card-reveal
    {
      display: block;
    }
    &.horizontal
    {
      overflow: hidden;
    }
  }
  .card-reveal
  {
    transition: transform 0.3s ease-in-out;
    transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    overflow-y: hidden;

    .modal-result-spot-disponibilities
    {
      .fc-view-container
      {
        overflow-y: scroll;
        height: 440px;

      }

      .fc-scroller
      {
        height: auto !important;
      }
      .fc-left h2
      {
        line-height: normal !important;
        font-size: 1.4em;
      }
      button
      {
        height: auto;
        &:hover {
          color: white;
        }
      }

      .fc-next-button
      {
        margin-left: 0.5em;
      }
    }
  }
}

.bold
{
  font-weight: bold;
}

#modal-result-spot.modal
{
  .tabulation1
  {
    font-variant: small-caps;
    min-width: 90px;
    display: inline-block;
    margin-left: 0.5em;
    text-align: left;
  }
  .tabulation2
  {
    font-variant: all-small-caps;
    min-width: 20px;
    display: inline-block;
    text-align: center;
  }
  .tabulation3
  {
    font-variant: all-small-caps;
    min-width: 100px;
    display: inline-block;
    text-align: left;
  }
  .card-content >
  {
    #modal-result-spot-description
    {
      text-align: justify;
      padding-bottom: 1em;
    }

    #modal-result-spot-price
    {
      font-weight: bold;
    }
    #modal-result-spot-gps
    {
      font-weight: bold;
    }
  }
  .card-image > img
  {
    max-width: 100%;
    max-height: 100%;
    min-height: 600px;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/* VERTICAL ALIGN ICON WITH A DIV ELEMENT */

.material-icon-vertical-align
{
  vertical-align: middle;
}