#settings {
  h2.title
  {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2.5em;

  }
  h3.title
  {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2em;

  }

  #settings-about-container, #settings-conditions-container
  {
    width: 800px;
    height: 300px;
    button{
      margin-top: 1em;
    }
  }
}