#spot-details{
  @extend #profile;
  #no-bottom-margin {
   margin-bottom: 0px !important;

    #details-tabs
    {
      @extend #profile-tabs;
    }

    #details-general{

      #details-spot-image {
        position: relative;
        img
        {
          max-width: 100%;
          max-height: 100%;
          min-height: 500px;
          width: 100% !important;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      #details-general-form{
        i {
          &.active {
            color: #2a2d3e;
          }
        }
        span{
          &.error{
            color: #F44336;
            padding-left: 45px;
            display: inherit;
          }
        }

      }


    }


    #details-disponibility
    {
      #sidebar-disponibility {
        height: calc(100vh - 64px - 80px);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        z-index: 800;
        position: relative;

        #details-dispo-form{
          i {
            &.active {
              color: #2a2d3e;
            }
          }
          span{
            &.error{
              color: #F44336;
              padding-left: 45px;
              display: inherit;
            }
          }

        }
        > #sidebar-title
        {
          height: 65px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        #sidebar-title > #sidebar-disponibility-form-title
        {
          display: table-cell;
          position: relative;
          text-align: center;
          width: 100%;
          font-weight: bold;
        }
        #sidebar-disponibility-form-title > i
        {
          vertical-align: middle;
          padding-right: 0.1em;
        }
        > #details-dispo-form
        {
          padding-top: 65px;
        }
      }

      #details-dispo-list{

        #calendar.disponibility-list-calendar{

          .fc-view-container
          {
            overflow-y: scroll;
            height: 400px;
          }
          .fc-scroller
          {
            height: auto !important;
          }
          .fc-left h2
          {
            line-height: normal !important;
            font-size: 1.2em;
          }
          button
          {
            height: auto;
            background-color: #1565C0 !important;
            &:hover {
              color: white;
            }
          }

          .fc-next-button
          {
            margin-left: 0.5em;
          }
        }
      }
    }
    #details-booking{

    }
  }
}

.hide
{
  display: none;
}
