#spot{
  h2{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2.5em;
  }
  #form-spot-add{
    #spot_info {
      i {
        &.active {
          color: #2a2d3e;
        }
      }
    }
    #map-spot{
      height: 12em;
      width: 100%;
    }


    span{
      &.error{
        color: #F44336;
        padding-left: 45px;
        display: inherit;
      }
    }

  }
}

#spot-loading-overlay
{
  position: fixed;
  z-index: 2000;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: rgba(33,33,33,0.5);
  will-change: opacity;

  #spot-loading
  {
    z-index: 2100;
    position: absolute;
    top:50%;
    left:50%;
    #spot-loading-title
    {
      color:white;
      font-size:1.5em;
      font-weight: bold;
      font-variant: small-caps;
    }
    #spot-loading-spin
    {
      border: 5px solid rgb(243, 243, 243); /* Light grey */
      border-top: 5px solid #1565C0 ; /* Blue */
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
      margin: 1rem auto;
    }
  }
}