#users{
  #users-table{
    button.margin-left{
      margin-left: 10px;
    }
  }
  h2.tab-title
  {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2.5em;

  }
}

#add_user{
  #form-add-user{
    i {
      &.active {
        color: #2a2d3e;
      }
    }
    span{
      &.error{
        color: #F44336;
        padding-left: 45px;
        display: inherit;
      }
    }
  }

  .add-user-modal-title{
    position: absolute;
    top:0;
    right:0;
    left:0;
    height: 80px;
    h4{
      display: table-cell;
      position: relative;
      text-align: center;
      width: 100%;
      font-weight: bold;
      color:white;
      font-variant: small-caps;

    }

  }

  .add-user-modal-form{
    padding-top: 80px;
  }
}