.nav-transparent {
  position: absolute;
  background: transparent;
  box-shadow: none;
}

#homepage{

  text-align: justify;
  h2
  {
    &.header
    {
      display: inline-block;
      position: relative;
      font-weight: bold;
      font-variant: small-caps;
      &::after, &::before
      {
        content: '';
        position: absolute;
        width: 50px;
        height: 3px;
        background-color:currentColor;
        top: 50%;
        transition: all 0.4s ease-in;
      }
      &::before
      {
        left:-100px;
      }
      &::after
      {
        right:-100px;
      }
    }
  }


  .try
  {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    .logo-homepage
    {
      width: 10vw;
      margin: 3em auto 0;
    }
    .slogan-homepage
    {
      width: 50vw;
      margin: 0 auto;
    }

    .try-button-homepage
    {
      text-align: center;
      margin-top: 0.5em;
      a
      {
        width: 200px;
        font-weight: bold;
        font-size: 1.2em;
      }
    }

    .scroll-button-homepage
    {
      bottom: 0;
      margin: 0 auto;
      text-align: center;
      margin-top: 3em;

      i{
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
        color: white;

      }
    }
  }




  #home{
    .img-opacity{
      opacity: 0.7;
    }

    &.full-section-img-home{
      min-height: 100vh;
      padding-top: 64px;
    }
  }

  #about{
    a {
      color: #90caf9;
      font-style: italic;
    }

    img{
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
  }
  .full-section-img{
    min-height: 70vh;
    padding-top: 64px;
  }

  .full-section-index {
    min-height: 100vh;
    padding-top: 64px;
  }

  .section-color{
    background-color: #2a2d3e;
    color: white;
  }
  #contact
  {


    ul > li{
        padding-top: 10px;
    }


    #form-contact {

      button{
        width: 100px;
      }

      span{
        &.error{
          color: #F44336;
          padding-left: 45px;
          display: inherit;
        }
      }

      .input-field {

        color: white;
        input:focus{
          border-bottom: white ;
          box-shadow: 0 1px 0 0 white;
        }
        textarea:focus{
          border-bottom: white ;
          box-shadow: 0 1px 0 0 white;

        }
        label{
          color : white ;
        }
        i{
          &.active {
            color: white;
          }
        }
        input{
          color: white;
        }
        textarea{
          color: white;
        }
      }
      #send-icon {
        color: #2a2d3e;
      }
    }

    #map-home{
      height: 400px ;
      margin-top: 5em;
    }

    span
    {
      i {
        padding-right: 10px;
      }
    }
  }

  #video{
    .video-size
    {
      width: 800px;
      margin: 0 auto;
      .video-container{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
    }
  }
}

footer {
  padding-left: 0px;
  padding-bottom: 10px;
}

.conditions-font{
  i{
    font-weight: bold;
    font-size: 18px;
  }

  p{
    text-align: justify;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.zoom
{
  animation: scale 40s linear infinite;
}

@keyframes scale {
  50% {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
  }
}






