/**Form Color**/

/*name when it is selected*/

input
{
  &:not([type]):focus:not([readonly]) + label, &[type=text]:not(.browser-default):focus:not([readonly]) + label, &[type=password]:not(.browser-default):focus:not([readonly]) + label, &[type=email]:not(.browser-default):focus:not([readonly]) + label, &[type=url]:not(.browser-default):focus:not([readonly]) + label, &[type=time]:not(.browser-default):focus:not([readonly]) + label, &[type=date]:not(.browser-default):focus:not([readonly]) + label, &[type=datetime]:not(.browser-default):focus:not([readonly]) + label, &[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, &[type=tel]:not(.browser-default):focus:not([readonly]) + label, &[type=number]:not(.browser-default):focus:not([readonly]) + label, &[type=search]:not(.browser-default):focus:not([readonly]) + label
  {
    color: #0d47a1;
  }
}

textarea.materialize-textarea:focus:not([readonly]) + label
{
  color: #0d47a1;
}

/*Border when it is selected*/

input
{
  &:not([type]):focus:not([readonly]), &[type=text]:not(.browser-default):focus:not([readonly]), &[type=password]:not(.browser-default):focus:not([readonly]), &[type=email]:not(.browser-default):focus:not([readonly]), &[type=url]:not(.browser-default):focus:not([readonly]), &[type=time]:not(.browser-default):focus:not([readonly]), &[type=date]:not(.browser-default):focus:not([readonly]), &[type=datetime]:not(.browser-default):focus:not([readonly]), &[type=datetime-local]:not(.browser-default):focus:not([readonly]), &[type=tel]:not(.browser-default):focus:not([readonly]), &[type=number]:not(.browser-default):focus:not([readonly]), &[type=search]:not(.browser-default):focus:not([readonly])
  {
    border-bottom: 1px solid #0d47a1;
    -webkit-box-shadow: 0 1px 0 0 #0d47a1;
    box-shadow: 0 1px 0 0 #0d47a1;
  }
}

textarea.materialize-textarea:focus:not([readonly])
{
  border-bottom: 1px solid #0d47a1;
  -webkit-box-shadow: 0 1px 0 0 #0d47a1;
  box-shadow: 0 1px 0 0 #0d47a1;
}

/* label color */

.input-field
{
  label
  {
    color: #0d47a1;
  }
  input[type=text].invalid
  {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
  }
}

/* invalid color */

/**Date Picker Color **/

.datepicker-date-display
{
  background-color: #1565c0;
}

.datepicker-table td
{
  &.is-selected
  {
    background-color: #1565c0;
  }
  &.is-today
  {
    color: #0d47a1;
  }
}

.datepicker-cancel, .datepicker-done
{
  color: #0d47a1;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after
{
  border: 2px solid #0d47a1;
  background-color: #0d47a1;
}

/*time picker color*/

.timepicker-digital-display
{
  background-color: #1565c0;
}

.timepicker-close
{
  color: #0d47a1;
}

.timepicker-canvas line
{
  stroke: #0d47a1;
}

.timepicker-canvas-bearing, .timepicker-canvas-bg
{
  fill: #0d47a1;
}

.timepicker-tick
{
  &.active, &:hover
  {
    background-color: #90caf9;
  }
}


